---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Now",
    title: "Software Engineer",
    company: "JP Morgan Chase & Co.",
    description:
      "Leading the Front-End development of an internal telemetry tool that enables the downtimes detection in various company services. I participated in the development and support of the company's internal authentication service using standards such as OAuth 2.0. Additionally, I carried out the transcription of the authentication SDK to Python.",
    link: "https://www.jpmorgan.com/AR/es/about-us",
  },
  {
    date: "Junio 2020",
    title: "Full Stack Developer",
    company: "Telefonica",
    description:
      "I Played a key role in the development of a Customer Relationship Management (CRM) system, leading to a remarkable 25% reduction in operational costs for one of the most popular Telecomunication company.",
    link: "https://www.telefonica.com.ar/",
  },
  {
    date: "Marzo 2016",
    title: "MIS analyst",
    company: "Accenture",
    description:
      "I was responsible for maintaining various information systems. I participated in the migration of SAP modules. I provided support to different departments that used the company's accounting and reporting systems.",
    link: "https://www.telefonica.com.ar/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
